<ion-header>
  <ion-toolbar>
    <ion-title>Información sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>Quiénes somos</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h3>De dónde somos</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <h3>Por qué estamos aquí</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Aprender programación</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>Curso de ionic</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>Formas de contactar</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-item-divider>
  
    <span class="spanHome">
      <ion-icon class="home" (click)="clicBotonHome()" name="home-outline"></ion-icon>
      <span class="home">Home</span>
  
    </span>
  
    <span class="spanInfo">
      <ion-icon class="info" (click)="clicBotonInfo()" name="information-circle-outline"></ion-icon>
      <span class="info">Info</span>
  
    </span>
  
    <span class="spanMap">
      <ion-icon class="map" (click)="clicBotonMap()" name="map-outline"></ion-icon>
      <span class="map">Map</span>
  
    </span>
  
  </ion-item-divider>
  
  </ion-footer>
