/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-input {
    --color:yellow;
  }
  
  ion-button {
    --background : yellow;
    --color: black;
  }

  ion-footer{
    background-color: rgb(0, 0, 0);
  }

  ion-item-divider{
    background-color: rgb(0, 0, 0);
    height: 60px;

  }


  ion-footer{
    height: 60px;
  }

  ion-img{

    width: 200px;
    height: 200px;


  }


  // div.iconos{
  //  text-align: center;
  // }

  // div.txHome{
  //   font-size: 25px; 


  // }

  // div.txInfo{
  //   font-size: 25px; 


  // }

  // div.txMap{
  //   font-size: 25px; 


  // }

  span.spanHome{
    width: 33%;
    text-align: center;
  }

  span.spanInfo{
    width: 33%;
    text-align: center;

  }

  span.spanMap{
    width: 33%;
    text-align: center;

  }
  
  
  ion-icon {
    font-size: 30px; 
  }

  @media (orientation: portrait) {

    span.home{
      display:none;

      
  
    }

    span.info{
  
      display:none;

      
  
    }

    span.map{
  
      display:none;

      
  
    }
 
  }


  
