

<!-- Este código está comentado por si tengo que utilizarlo más adelante -->

<!-- <ion-content padding>
  <ion-item >
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="citaEditando.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Número de teléfono</ion-label>
    <ion-input [(ngModel)]="citaEditando.numeroTlf"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Día</ion-label>
    <ion-input [(ngModel)]="citaEditando.dia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de corte</ion-label>
    <ion-input [(ngModel)]="citaEditando.corte"></ion-input>
  </ion-item>

  <ion-button (click)="clicBotonInsertar()">Añadir cita</ion-button> -->

 


<!-- ver lista -->
  <br>
  <br>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Mis Citas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="background">
  <ion-list>
    <ng-container *ngFor="let documentCita of arrayColeccionCitas"   >
      <ion-col size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">      
          <ion-card (click)="selecCita(documentCita)">
          <ion-card-content >
          <p class="nombre">{{documentCita.data.nombre}}</p>
          <p class="fecha">Fecha: {{documentCita.data.dia}}</p>
        </ion-card-content>
        </ion-card>
        </ion-col>
      </ng-container>      
  </ion-list>
  <ion-fab (click)="clicBotonMas()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button> 
  </ion-fab>
</ion-content>

<ion-footer>
<ion-item-divider>

  <span class="spanHome">
    <ion-icon class="home" (click)="clicBotonHome()" name="home-outline"></ion-icon>
    <span class="home">Home</span>

  </span>

  <span class="spanInfo">
    <ion-icon class="info" (click)="clicBotonInfo()" name="information-circle-outline"></ion-icon>
    <span class="info">Info</span>

  </span>

  <span class="spanMap">
    <ion-icon class="map" (click)="clicBotonMap()" name="map-outline"></ion-icon>
    <span class="map">Map</span>

  </span>

</ion-item-divider>

</ion-footer>
  <!-- <div class="iconHome" style="display: flex">
    <ion-icon class="home" (click)="clicBotonHome()" name="home-outline"></ion-icon>
    <div class="txHome" >Home</div>
  </div>

  <div class="iconInfo" style="display: flex">
    <ion-icon class="info" (click)="clicBotonInfo()" name="information-circle-outline"></ion-icon>
    <div class="txInfo">Info</div>
  </div>

  <div class="iconMap" style="display: flex">
    <ion-icon class="map" (click)="clicBotonMap()" name="map-outline"></ion-icon>
    <div class="txMap">Map</div>
</div> -->


    <!-- <span>
    <ion-icon class="home" (click)="clicBotonHome()" name="home-outline"></ion-icon>
    <p class="home">Home</p>

  </span>

  <span>
    <ion-icon class="info" (click)="clicBotonInfo()" name="information-circle-outline"></ion-icon>
    <p class="info">Info</p>

  </span>

  

  <span>
    <ion-icon class="map" (click)="clicBotonMap()" name="map-outline"></ion-icon>
    <p class="map">Map</p>
  </span> -->
